/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

/* CUSTOM STEP STYLES */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
	background-color: #103A51;
	color: #103A51;
	font: 35px 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

.step {
	background-color: white;
    border-radius: 10px;
	height: 700px;
    width: 900px;
	text-align: center;
	transition: opacity 1s;
}

.step:not(.active) {
    opacity: 0;
}

.step p em {
	font-size: 70px;
	font-weight: bold;
}

.step h1 {
	background-color: #2e6d82;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #F16665;
	color: white;
	font-size: 70px;
	font-weight: 400;
	padding: 35px;
	margin-bottom: 70px;
}

.step p {
	margin-bottom: 35px;
}

.step pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 1.2em;
	margin: 35px;
	text-align: left;
}

.step blockquote {
	display: none;
}
.step ol, ul {
	list-style: circle;
	margin-left: 10%;
}
.step li {
	margin: 25px;
	text-align: left;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}